<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOGIN FORM</title>
</head>
<link rel = "stylesheet" href = "{{url_for('static' , filename = 'css/main.css')}}"
    <body>
    <div class="frm">
        
        <h1>THIS IS THE LOGIN FORM</h1>
    </div>
   <form class="okie" method = "post" action="/" novalidate>

   <div class="inp">Name: </div>  <input id = "name" name = 'name' class="inpi" type="text">
    
    <div class="inp">Age: </div><input id = "age" name = 'age' class="inpi" type="number">
    <div class="btnn">
        <button type = "submit" class = "btnn">SEND</button>
    </div>
    
    

    
   </form> 

   <!-- <script>
 let username = document.getElementById('username');
 let agee = document.getElementById('agee');
   </script> -->
</body>
</html>